*{
  padding: 0px;
  margin: 0px;
  box-sizing: border-box;
}

.App{
    height: 100vh;
    width: 100vw;
}

.main--container{
  display: flex;
  flex-direction: column;
  padding: 2rem;
  align-items: center;
}

.main--container > ul {
  display: flex;
  justify-content: center;
  gap: 2rem;
  list-style: none;
  font-size: 2rem;
  font-weight: bolder;
}

.image--container{
  position: relative;
}

img {
  max-width: 1500px;
  object-fit: contain;
}

.cursortargetcontainer{
  display: flex;
  justify-content: center;
  flex-direction: column;
  position: absolute;
  width: max-content;
  height: max-content;
}

.cursortargetcontainer:active{
  box-shadow: 1px 1px 50px black;
  border-radius: 25%;
  transition: .2s;
}

.cursortarget{
  width: 75px;
  height: 75px;
  border-radius: 25%;
  border: 5px solid red;
}

.waldofound{
  display: none;
  position: absolute;
  left: 1380px;
  top: 675px;
  height: 75px;
  width: 75px;
  border: 5px solid rgb(0, 0, 0);
  background-color: rgba(127, 255, 144, 0.432);
}

.wizardfound {
  display: none;
  position: absolute;
  left: -11px;
  top: 698px;
  height: 75px;
  width: 75px;
  border: 5px solid rgb(0, 0, 0);
  background-color: rgba(127, 255, 144, 0.432);
}

.odlawfound{
  display: none;
  position: absolute;
  left: 429px;
  top: 566px;
  height: 75px;
  width: 75px;
  border: 5px solid rgb(0, 0, 0);
  background-color: rgba(127, 255, 144, 0.432);
}

.modal{
  display: flex;
  position: absolute;
  background-color: rgba(0, 0, 0, 0.466);
  width: 100vw;
  height: 120vh;
  top: 0;
  align-items: center;
  justify-content: center;
}

.score--modal--inner{
  padding: 40px;
  border-radius: 15px;
  background-color: white;
}

.score--modal--inner > * {
  margin: 4px 0px;
}

.score--modal--inner > h4{
  margin: 0;
}

.score--modal--button-container{
  display: flex;
  justify-content: end;
}

.cancel--button{
  border: none;
  color: rgb(194, 158, 41);
  height: 50px;
  width: 100px;
  font-weight: bolder;
  background-color: white;
}

.submit--button{
  border: none;
  background-color: rgb(194, 158, 41);
  color: white;
  font-weight: bolder;
  height: 50px;
  width: 100px;
  border-radius: 7px;
}

.leaderboard-modal-inner{
  text-align: center;
  border-radius: 15px;
  width: 800px;
  height: 500px;
  margin-top: -200px;
  background-color: white;
}