*{
  padding: 0px;
  margin: 0px;
  box-sizing: border-box;
}

.App{
    height: 100vh;
    width: 100vw;
}

.main--container{
  display: flex;
  flex-direction: column;
  padding: 2rem;
  align-items: center;
}

.main--container > ul {
  display: flex;
  justify-content: center;
  gap: 2rem;
  list-style: none;
  font-size: 2rem;
  font-weight: bolder;
}

.image--container{
  position: relative;
}

img {
  max-width: 1500px;
  object-fit: contain;
}

.cursortargetcontainer{
  display: flex;
  justify-content: center;
  flex-direction: column;
  position: absolute;
  width: max-content;
  height: max-content;
}

.cursortargetcontainer:active{
  box-shadow: 1px 1px 50px black;
  border-radius: 25%;
  transition: .2s;
}

.cursortarget{
  width: 75px;
  height: 75px;
  border-radius: 25%;
  border: 5px solid red;
}

.waldofound{
  display: none;
  position: absolute;
  left: 1380px;
  top: 675px;
  height: 75px;
  width: 75px;
  border: 5px solid rgb(0, 0, 0);
  background-color: rgba(127, 255, 144, 0.432);
}

.wizardfound {
  display: none;
  position: absolute;
  left: -11px;
  top: 698px;
  height: 75px;
  width: 75px;
  border: 5px solid rgb(0, 0, 0);
  background-color: rgba(127, 255, 144, 0.432);
}

.odlawfound{
  display: none;
  position: absolute;
  left: 429px;
  top: 566px;
  height: 75px;
  width: 75px;
  border: 5px solid rgb(0, 0, 0);
  background-color: rgba(127, 255, 144, 0.432);
}